<?xml version='1.0' encoding='utf-8'?>
<widget id="com.luengen.alexander" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Morse Code Game</name>
    <description>
        A new haptic game, to learn the Morse code with ease.
    </description>
    <author email="alexander.luengen@student.kit.edu" href="Luengen">
        LA
    </author>
	
	<preference name="permissions" value="none"/>
	
	
    <content src="index.html" />
    <access origin="*" />
</widget>
