:root{
	--main-color: 	#98bff4;
	--main-nav-color: 	#fd9471;
	--main-nav-color-light:	#fdb49b;
	--main-nav-color-dark: 	#ca765a;
	--main-dark-color: 	#4c5f7a;
	--main-light-color: #c1d8f8;
	--main-nav-font-color:	#ffffff;
}

body ,html{
	background-color:	var(--main-dark-color)!important;
	margin:	0px;
}

.custom-nav-color{
	background-color: var(--main-nav-color)!important;
	color:	var(--main-nav-font-color)!important; 
}

.content{
	background-color:	var(--main-light-color);
	height:	100%!important;	
	width:	auto;
	margin:	0px;
	padding:	5px;
}

.actionBar{
	background-color:	var(--main-nav-color)!important;
}
.actionBar.ul{
	list-style-type:	none;
	margin:	0;
	padding:	0; 
	overflow:	hidden;
	background-color:	inherit;
}
.actionBar.li{
	float:	left;
}

.btn-fab-pos{
	position: 	fixed!important;
	bottom: 	15px!important;
	right:		15px!important;
}

.btn-fab{
	background-color: var(--main-nav-color)!important;
	width:	60px!important;
	height:	60px!important;
	border-radius:	100%!important;
	border:	none!important;
	outline:	none!important;
	text-align:	center!important;
	font-size:	12px!important;
	color:	var(--main-nav-font-color)!important;
	box-shadow:	0px 3px 6px rgba(0,0,0,0.14),
				0px 3px 6px rgba(0,0,0,0.28)!important;
	transition:	20ms!important;
}
.btn-fab:hover{
	background-color:	var(--main-nav-color-dark)!important;
}
.btn-fab:active{
	background-color:	var(--main-nav-color-dark)!important;
	transform:	translateY(2px)!important;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.14) !important;
}

.deviceList{
	list-style-type:	none;
	margin:	0;
	padding:	0;
	overflow:	auto;
	background-color:	inherit;
}

